/* general props */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    font-weight: 700;
}

body {
    width: 99vw;
    max-width: 3000px;
    background-color: var(--backgroundColor2);
}

:root {
    --primaryColor: #FF4081;
    --secondaryColor: #2E948A;
    --titleColor: #009688;
    --backgroundColor1: #E5E5E5;
    --backgroundColor2: #F7F7F7;
}

.flex {
    display: flex;
}

.whole-line {
    flex-basis: 100%;
}

button {
    border-radius: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #ffff;
}

#menu-mobile {
    display: none;
    background-color: var(--backgroundColor1);
}

#menu-mobile ul{
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

#menu-mobile nav {
    padding: 5vw;
}

#menu-mobile a {
    font-size: 1.5rem;
    color: var(--titleColor);
}




/* header props */


header {
    background-color: var(--secondaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 117px;
}

header .icon {
    display: none;
    height: 70px;
    width: 70px;
    margin-right: 4vw;
}

header .icon i {
    font-size: 30px;
    color: #ffff;
}

header> {
    max-height: 70%;
}

header>a>img {
    object-fit: fill;
}


header a {
    margin-left: 3vw;
    max-width: 244px;
}

header nav {
    margin-right: 10vw;
}

header ul {
    display: flex;
}

/* footer props */

footer {
    background-color: var(--secondaryColor);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 207px;
}


footer ul {
    display: flex;
    width: 10vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
}

footer section {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

footer button {
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background-color: var(--secondaryColor);
    width: 289px;
    height: 51px;
    font-size: 1.3rem;
}

/* home */

/* banner */

.main__home {
    display: flex;
    flex-direction: column;
    padding-top: 10vw;
    ;
}

.main__home__banner {
    display: flex;
    justify-content: center;
    gap: 2vw;

}

.main__home__banner section>* {
    margin-bottom: 2vw;
}

.main__home__banner section {
    display: flex;
    flex-direction: column;
}

.main__home__banner h1 {
    font-size: 60px;
    color: var(--primaryColor);
    width: 100%;
}

.main__home__banner h2 {
    font-weight: 400;
    font-size: 27px;
    color: #555555;
}

.main__home__banner button {
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    width: 268px;
    height: 51px;
    background-color: var(--backgroundColor2);
}

.main__home__banner button a {
    color: var(--primaryColor);
    font-weight: 400;
    font-size: 27px;
}

/* cursos */

.main__home__cursos {
    background-color: var(--backgroundColor1);
    margin-top: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw 4vw;
}

.main__home__cursos>section {
    margin: 2vw;
    max-width: 344px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
}

.main__home__cursos>section>img {
    max-height: 270px;
}

.main__home__cursos>section>h1 {
    font-size: 25px;
    color: var(--primaryColor);
    text-align: center;
}

.main__home__cursos>section>p {
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    max-width: 293px;
}

.main__home__cursos>section>button {
    width: 233px;
    height: 51px;
    background-color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
}

.main__home__cursos>section>button>a {
    font-size: 20px;
    font-weight: 400;
}

/* depoimentos */

.main__home__depoimentos {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vw;
    justify-content: center;
    gap: 5vw 20vw;
}

.main__home__depoimentos>h1,
.main__home__blog>h1 {
    font-weight: 700;
    font-size: 37px;
    color: var(--titleColor);
    flex-basis: 100%;
    margin: 6vw 0 3vw 4vw;
}

.main__home__depoimentos>section {
    display: flex;
    max-width: 478px;
}

.main__home__depoimentos>section>aside {
    max-width: 104px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__home__depoimentos>section>div {
    max-width: 363px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__home__depoimentos>section>div>p {
    font-weight: 300;
    font-size: 18px;
}

.main__home__depoimentos>section>div>caption {
    font-weight: 400;
    font-size: 18px;
}

/* blog */

.main__home__blog {
    background-color: var(--backgroundColor1);
    gap: 1vw 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main__home__blog>section {
    max-width: 319px;
}

.main__home__blog>section>div {
    width: 100%;
    height: 193px;
    background: #C4C4C4;
}

.main__home__blog>section>h2 {
    color: var(--titleColor);
    font-size: 27px;
}

.main__home__blog>section>p {
    font-weight: 400;
}

.main__home__blog>button {
    flex-basis: 100%;
    align-self: baseline;
    background-color: var(--backgroundColor1);
    max-width: 289px;
    height: 51px;
    border: 2px solid var(--primaryColor);
    margin: 5vw 0 3vw 0;
}

.main__home__blog>button>a {
    color: var(--primaryColor);
    font-weight: 400;
    font-size: 25px;
}

/* Contato */

.main__contato {
    display: flex;
    gap: 15vh;
    justify-content: center;
    margin: 12vh 0 12vh 0;
    align-items: center;
}

.main__contato>article {
    width: 500px;
}

.main__contato>article>h1 {
    font-size: 40px;
    color: var(--primaryColor);
    margin-bottom: 3vw;
}

.main__contato__mensagem>form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main__contato__mensagem>form>input {
    border: 1px solid #686868;
    border-radius: 7px;
    font-size: 0.8rem;
    height: 32px;
    padding-left: 15px;
    color: #686868;
}

.main__contato__mensagem>form>.text-message {
    height: 190px;
    padding-bottom: 160px;
}

.main__contato__mensagem button {
    color: #FFFFFF;
    background-color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    margin-top: 1.5vw;
    width: 30%;
    font-weight: 800;
    font-size: 16px;
}

/* cursoS */

.main__cursos {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
}

.main__cursos__titulo {
    margin-top: 50px;
    margin-bottom: 1vw;
}

.main__cursos__titulo>h1 {
    font-size: 60px;
    color: var(--primaryColor);
}

.main__cursos__titulo>h2 {
    font-weight: 400;
    font-size: 20px;
}

.main__cursos>article {
    display: flex;
    margin: 3vw 0 3vw 0;
    gap: 4vw;
}

.main__cursos>article>aside {
    max-height: 380px;
}

.main__cursos>article>aside>img {
    height: 100%;
}

.main__cursos>article>section {
    display: flex;
    max-width: 724px;
    flex-direction: column;
    gap: 3vw;
}

.main__cursos>article h1 {
    font-size: 35px;
    color: #FF4081;
}

.main__cursos>article p {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 300;
}

.main__cursos>article button {
    width: 233px;
    height: 51px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background: #2E948A;
    border: var(--secondaryColor);
}

/* cursO */

.main__curso {
    display: flex;
    flex-direction: column;
}

.main__curso__banner {
    display: flex;
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding-left: 12vw;
    padding-right: 5vw;
    gap: 8vw;
}

.main__curso__banner>aside {
    max-height: 380px;
}

.main__curso__banner>section {
    display: flex;
    flex-direction: column;
    max-width: 461px;
    gap: 2vw;
}

.main__curso__banner>section>h1 {
    font-size: 55px;
    color: var(--primaryColor);
}

.main__curso__banner>section>p {
    font-weight: 300;
    font-size: 20px;
}

.main__curso__aulas {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor1);
    padding: 3vw 5vw 3vw 5vw;
    gap: 3vw;

}

.main__curso__aulas>section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8vw;
}

.main__curso__aulas>section>div {
    width: 462px;
    height: 261px;
}

.main__curso__aulas iframe {
    width: 100%;
    height: 100%;
}

.main__curso__aulas .resumo {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 2vw;
}

.main__curso__aulas .resumo h1 {
    font-size: 35px;
    color: var(--primaryColor);
}

.main__curso__aulas .resumo p {
    font-weight: 300;
    font-size: 20px;
}

/* blog */

.main__blog {
    display: flex;
    flex-direction: column;
}

.main__blog__banner {
    display: flex;
    margin-top: 4vw;
    margin-bottom: 4vw;
    gap: 8vw;
    align-items: center;
    justify-content: center;
}

.main__blog__banner>aside {
    max-height: 405px;
}

.main__blog__banner>section {
    display: flex;
    flex-direction: column;
    max-width: 461px;
    gap: 2vw;
}

.main__blog__banner>section>h1 {
    font-size: 47px;
    color: var(--titleColor);
}

.main__blog__banner>section>p {
    font-weight: 300;
    font-size: 20px;
}

.main__blog__posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--backgroundColor1);
    padding: 3vw 5vw 3vw 5vw;
    gap: 3vw;
}

.main__blog__posts>a>section {
    display: flex;
    flex-direction: column;
    max-width: 518px;
    gap: 1.5vw;
}

.main__blog__posts>a>section>div {
    width: 100%;
    height: 218px;
    background: #C4C4C4;
}

.main__blog__posts>a>section>h1 {
    font-weight: 500;
    font-size: 30px;
    color: var(--primaryColor);
}

.main__blog__posts>a>section>p {
    font-weight: 300;
    font-size: 17px;
    color: #000000;
}

/* post */

.main__post {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
}

.main__post .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1032px;
    gap: 3vw;
}

.main__post .post>section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main__post .post>section>div {
    width: 100%;
    height: 30vw;
    background: #C4C4C4;
}

.post__title {
    align-items: center;
}

.post__title>h1 {
    font-weight: 500;
    font-size: 50px;
    color: var(--primaryColor);
}

.post__title>span {
    font-weight: 300;
    color: #9D9D9D;
}

.post__text {
    gap: 1vw;
}

.post__text p {
    font-weight: 300;
}

.post__text h1 {
    color: var(--titleColor);
    font-size: 30px;
}

.titulo-cursos-post {
    flex-basis: 100%;
    font-weight: 500;
    font-size: 50px;
    color: var(--primaryColor);
    text-align: center;
    margin-top: 3vw;
}

/* responsividade */
@media only screen and (max-width: 1000px) {

    .main__home__banner>aside,
    footer>nav,
    .main__cursos>article>aside,
    .main__blog__banner>aside,
    .main__contato>aside,
    .main__curso__banner>aside {
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    header>nav,
    footer>a {
        display: none;
    }

    .main__blog__banner h1 {
        font-size: 30px;
    }

    header .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header>a {
        width: 50vw;
    }

    header>a>img {
        width: 100%;
    }

}